nav {
    background-color: lightblue;        
    padding: 5px;
    margin: 0px;
    border: 1px solid #000000;
    box-sizing: border-box;
}
main,section,article{background-color: rgb(242, 249, 252);        
padding: 5px;
margin: 0px;
box-sizing: border-box;
}
header{
    padding: 20px;
    text-align: center;
    font: bold 40px Arial, sans-serif;
    margin: 0px;
    border: 1px solid #000000;
    background-color: gold;

}
aside {
    float: right;
    width: 30%; 
    margin-left: 10px; 
}
section {
    overflow: hidden; 
}   

footer { 
    padding: 10px;
    margin: 0px;
    border: 1px solid #000000;
    background-color: gold;
    align-items: end;
}